@model List<ResultCategoryDto>

@{
    ViewData["Title"] = "Categories";
    ViewData["h1"] = "Category actions";
    ViewData["v1"] = "Dashboard";
    ViewData["v2"] = "Category";
    ViewData["v3"] = null;

    var counter = 0;
}

<!-- Main content -->
<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Category List</h4>
                <i class="fa-solid fa-plus"></i>
                <div class="bs-example" data-example-id="bordered-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ctg in Model)
                            {
                                counter++;
                                <tr>
                                    <th scope="row">@counter</th>
                                    <td>@ctg.CategoryName</td>
                                    <td>
                                        <a asp-action="update" asp-controller="category" asp-area="manage" asp-route-id="@ctg.CategoryId"><i class="fa-solid fa-pen-to-square"></i></a>
                                        <a asp-action="delete" asp-controller="category" asp-area="manage" asp-route-id="@ctg.CategoryId"><i class="fa-solid fa-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <a asp-controller="category" asp-action="create" class="btn btn-primary">Create new category</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- content -->
