@model UpdateCategoryDto

@{
    ViewData["Title"] = "Categories";
    ViewData["h1"] = "Category actions";
    ViewData["v1"] = "Dashboard";
    ViewData["v2"] = "Category";
    ViewData["v3"] = "Update";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <input hidden asp-for="CategoryId" />
                        <input class="form-control" asp-for="CategoryName" type="text" style="max-width: 200px; height: 30px; font-size: 14px; padding: 0.25rem 0.5rem;" />
                        <br />
                        <button type="submit" class="btn btn-success">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
